h1 {
    text-align: center;
    color:rgb(248, 247, 236);
    background-color: rgb(68, 148, 2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 1em 15em;
    border: dotted;
    padding: 5px;
}

div {
    text-align: center;
}

h3 {
    color: rgb(68, 148, 2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 20px 230px 20px;
}

.des,
.list,
.steps,
.notes {
    font-family: Courier, monospace;
    margin: 0 230px 20px;
}

.back {
    font-family: Courier, monospace;
    color: white;
    background-color: rgb(255, 169, 71);
    font-weight: bold;
    font-size: 16pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 4px;
    border: dotted;
}